body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
p {
  font-family: Roboto, Arial;
  margin: 0;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  height: 90px;
  width: 500px;
}

.image-div {
  display: flex;
  width: 85px;
  justify-content: center;
  align-items: center;
}
.mid-section {
  display: flex;
  flex: 3;
  align-items: center;
}
.button-div {
  display: flex;
  width: 110px;
  justify-content: center;
  align-items: center;
}
.center {
  margin-left: 5px;
}

.pfp {
  height: 65px;
  border-radius: 100px;
  cursor: pointer;
}
.name {
  font-weight: 700;
}
.description,
.classification {
  color: rgb(153, 152, 152);
}
.description {
  font-size: 18px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.classification {
  font-size: 16px;
}
.button {
  font-family: Roboto, Arial;
  font-weight: 700;
  font-size: 18px;
  color: white;
  background-color: rgb(0, 153, 255);
  border-style: none;
  padding: 8px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 6px;
  cursor: pointer;
  
  transition:
    opacity 0.1s;
}
.button:hover {
  opacity: 0.7;
}