p {
  font-family: Roboto, Arial;
  margin: 0;
}
.shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  width: 450px;
}
.all-inboxes-div {
  display: flex;
  height: 35px;
  align-items: center;
  margin-bottom: 8px;
}
.all-inboxes-text {
  margin-left: 13px;
  color: rgb(146, 146, 146);
}
.main-container {
  display: flex;
  flex-direction: column;
}
.mail-container {
  display: flex;
  flex-direction: row;
}
.img-container {
  display: flex;
  width: 90px;
  justify-content: center;
  align-items: center;
}
.pfp {
  height: 60px;
  border-radius: 30px;
  cursor: pointer;
}
.all-info-container {
  flex: 1;
}
.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}
.title {
  font-size: 20px;
  font-weight: 700;
}
.time {
  font-size: 15px;
  color: rgb(146, 146, 146);
  margin-right: 20px;
}
.subject {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 4px;
}
.message {
  color: rgb(146, 146, 146);
}
.white-space {
  height: 15px;
}
.bottom-of-container {
  height: 15px;
}