p {
  font-family: Montserrat;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}
.model {
  text-align: center;
  font-size: 70px;
  margin-top: 30px;
  margin-bottom: 18px;
}
.order {
  font-weight: normal;
  text-align: center;
  font-size: 33px;
}
.underline {
  text-decoration: underline;
}