p {
  font-family: Arial;
  margin-top: 0px;
  margin-bottom: 0px;
}
.website {
  font-size: 20px;
  font-weight: bold;
  margin-top: 14px;
  margin-bottom: 6px;
}
.gray-text {
  font-weight: normal;
  color: gray;
}
.description {
  font-size: 20px;
  line-height: 30px;
  width: 650px;
  margin-bottom: 20px;
}
.description-2 {
  font-size: 20px;
}
.blue {
  color: cornflowerblue;
}